* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #777;
    color: #777;
    margin: 0 auto;
    width: 960px;
    font-size: 18px;
}

header, nav, .heading, .paragraph, footer {
    background: #ebebeb;
    color: #777;
    text-align: center;
}

header, nav, footer {
    width: 100%;
    height: 100px;
    margin: 10px 0px;
    padding: 25px;
}

article {
    display: block;
    margin: 10px;
    /* width: 475px;   508px; */
    background: #777;
    color: #ebebeb;
    padding: 10px 20px 20px 20px;
}

.heading, .paragraph {
    margin: 10px 0px;
    padding: 5px;
}

.row {
    display: flex;
    background: #777;
    color: #777;
    text-align: center;
}

.row > section {
    width: 495px;   /* 528px */
    padding-top: 10px;
    background: #ebebeb;
    margin: 10px 10px 10px 0px;
}

.row > aside {
    width: 445px;
    padding-top: 10px;
    background: #ebebeb;
    margin: 10px 0px 10px 10px;
}

footer {
    clear: both;
}
